body {
  font-family: 'Montserrat', sans-serif;
}

li {
  display: inline;
  margin: 2rem;
}

.centered-nav{
 width: 100%;
}

.navbar-transparent {
  background-color: rgba(0,0,0,0);
}

.video-container {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
