@charset "utf-8";

body {
	background-color: #00133E;
}

.personalInfo, .education, .Skills {
	background-color: #3F91DD;
	border-radius: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

h2{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #ffffff;
}
h3{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #000000;
}

.button {
	border-radius: 3px;
	width: 100px;
	height: 40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #ffffff;
}
